/* wishlist*/
.wishlist-main-container{

display: flex;
align-items: center;
justify-content: center;

}

.wishlist-sub-container{
  background-color: blueviolet;
  width: 60%;
  position: relative;
}
.wishlist-remove-button{
  position: absolute;
  right: 0;
  width: 30px;
  height: 30px;
  padding: 0;
}
.remove-from-wishlist-image{

  width: 100%;
  height: 100%;
}
.wishlist-product-container{
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between
}
.wishlist-image-container{
  width: 40%;
  background-color: wheat;
  height: 100%;

}
.wishlist-product-image{
  width: 100%;
  height: 100%;
}
.wishlist-info-container{
width: 60%;
height: 100%;
text-align: center;
}
/*favourites*/
.favourites-main-container{

  display: flex;
  align-items: center;
  justify-content: center;
}
.favourites-sub-container{
  display: flex;
}
.favourites-product-container{
  position: relative;
  margin: 50px;
}
.favourite-products{

  width: 300px;
  background-color: pink;
  height: 350px;

}
.favourite-image-container{
  width: 100%;
  background-color: rebeccapurple;
  height: 70%;
}
.favourite-product-image{
width: 100%;
height: 100%;
}
.author-name{
  text-align: center;
}
.remove-from-favourite-button{
  position: absolute;
  width: 50px;
  height: 45px;
  bottom: 0px;
  left: 40%;
}
.remove-from-favourite-image{
  width: 100%;
  height: 100%;
}