    /* */ 
   




    /* top header*/ 
    .top-header-bar{
    position: fixed;
    background-color:  #e6e8e1;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;

    box-shadow: 0px 2px rgba(0, 0, 0, 0.322) ;
    z-index: 10;

    }



    /*  top containers*/ 
    .top-left,.top-middle,.top-right{
    display: flex;
    justify-content: center;
    align-items: center;
    height:50px;
    }



    /* top buttons*/ 
    .top-more-button,.top-search-button,.main-logo,.top-profile-button{
    height: 60%;
    margin-left: 8px;
    padding:4px;
    border: none;
    background-color: #e6e8e1ec;
    }



    /*  tool tips / appears while hovering*/ 
    .top-left-more-button-tool-tip,.top-search-button-tool-tip,.top-right-profile-button-tool-tip{
    position: absolute;
    background-color: #8b8d8541;
    padding: 4px;
    font-size: 12px;
    opacity: 0;
    cursor: pointer;

    }



    /*top left section*/ 
    .top-left-more-button-tool-tip{
    top: 60px;
    left: 8px;
    }


    .top-more-button:hover .top-left-more-button-tool-tip{

    opacity: 1;
    }


    .top-more-icon{
    width: 100%;
    height: 100%;
    }


    .main-logo{
    height: 70%;
    padding: 0;
    }


    .site-name{
    padding: 8px;
    }



    /*top middle section*/ 
    .top-search-bar{
    height: 50%;
    width:250px;
    outline: none;
    border: none;
    padding: 2.2px;
    width: 500px;
    box-shadow: 0px 2px rgba(0, 0, 0, 0.103) ;
    }


    .top-search-bar:focus{
    outline: none;
    }


    .top-search-button{
    margin-left: 4px;
    padding: 6px;
    position: relative;
    }


    .search-icon{
    width: 100%;
    height: 100%;
    }


    .top-search-button-tool-tip{
    right: -8px;
    top: 50px;
    }

    .top-search-button:hover .top-search-button-tool-tip{
    opacity: 1;
    }



    /* top right*/ 
    .top-profile-button{
    margin-right: 16px;
    width: 40px;
    height: 40px;
    padding: 0;


    }


    .your-profile-image{
    width: 100%;
    height: 100%;
    border-radius: 20px;

    }


    .top-right-profile-button-tool-tip{
    right: 12px;
    top: 60px;

    }

    .top-profile-button:hover .top-right-profile-button-tool-tip{
    opacity: 1;
    }
